<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    
    <!-- Hoja de estilos CSS -->
    <link rel="stylesheet" href="/css/style.css">

    <!-- Fuentes -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Varela+Round&display=swap" rel="stylesheet">   

    <!-- Iconos -->
    <script src="https://kit.fontawesome.com/eb10b21232.js" crossorigin="anonymous"></script>
    
    <!-- CSS Leaflet -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
    integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
    crossorigin=""/>
    <!-- Javascript Leaflet -->
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
   integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
   crossorigin=""></script>

    <title>Uncle´s Taxi</title>

  </head>
  <body>
      <!-- NAVBAR -->
    <nav class="navbar navbar-expand-lg navbar-light bg-yellow">
        <div class="container-fluid">
          <!-- Logo -->
          <a class="navbar-brand ms-5" href="../../">Uncle´s Taxi</a>
          <!-- Boton Toggler -->
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <!-- Lista de elementos -->
          <div class="collapse navbar-collapse me-5" id="navbarNav">
            <ul class="navbar-nav ms-auto">
              <li class="nav-item me-3">
                <a class="nav-link active" aria-current="page" href="../../">Inicio</a>
              </li>
              <li class="nav-item me-3">
                <a class="nav-link active" aria-current="page" href="tiemporeal">Tiempo real</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <!-- Cuerpo -->
      <article>
        <% if (error) { %>
          <div class="alert alert-danger" role="alert" id="alert">
            <%- error %>
          </div>
        <% } %>
        <div class="row col-12 d-flex cont1 mx-0">
          <div class="container col-12 col-md-3 full">
            <h3 class="text-center mt-4 mb-0">Realizar consulta</h3>
            <h3 class="text-center mt-3 fs-5">Ingrese los siguientes datos:</h3>
                
            <form class="col-12 d-flex flex-column" method="POST">
                <label class="ms-3 mt-3 mb-2" for="idate"><b>Fecha inicial:</b></label>
                <div class="mx-auto my-2 col-12 col-md-10 position-relative">
                    <input class="col-12 rounded text-center p-1" type="datetime-local" name="idate" id="idate" onchange="validDate()"><i class="fas fa-check-circle ms-2 position-absolute" style="top: 10px;" id="check1"></i>
                </div>
                <label class="ms-3 mt-3 mb-2" for="idate"><b>Fecha final:</b></label>                
                <div class="mx-auto my-2 col-12 col-md-10 position-relative">
                    <input class="col-12 rounded text-center p-1" type="datetime-local" name="fdate" id="fdate"><i class="fas fa-check-circle ms-2 position-absolute" id="check2" style="color: rgb(0, 194, 0); top: 10px;"></i>
                </div>                
                <div class="mx-auto mt-4 mb-2 col-12 col-md-10 position-relative">
                  <label class="mb-2 col-2" for="taxid"><b>Taxi:</b></label>
                  <select class="col-9 rounded text-center p-1" name="taxid" id="taxid">
                    <option value="1">Taxi #1</option>
                    <option value="2">Taxi #2</option>
                    <option value="3">Ambos taxis</option>
                  </select>
                </div>
                
                <input class="btn bg-yellow mx-auto w-50 mt-4 border" type="submit" value="Consultar">
            </form>
          </div>
          <div class="full col-12 col-md-9 p-0 m-auto mt-3 mt-md-0">
              <div class="mapa m-auto mx-auto mt-5 mt-md-4" id="mapid">
                
              </div>
          </div>
        </div>
      
        <!-- <input type="hidden" name="info" id="info" value=""> -->
      
      </article>


      <footer class="bg-dark text-center text-white fixed-bottom">
        <!-- Grid container -->
        <div class="container p-2">
          <!-- Section: Social media -->
          <section>
            <!-- Facebook -->
            <a class="btn btnred btn-outline-light btn-floating m-1" href="#!" role="button"
              ><i class="fab fa-facebook-f"></i
            ></a>
      
            <!-- Google -->
            <a class="btn btnred btn-outline-light btn-floating m-1" href="#!" role="button"
              ><i class="fab fa-google"></i
            ></a>
      
            <!-- Instagram -->
            <a class="btn btnred btn-outline-light btn-floating m-1" href="#!" role="button"
              ><i class="fab fa-instagram"></i
            ></a>
      
            <!-- Github -->
            <a class="btn btnred btn-outline-light btn-floating m-1" href="#!" role="button"
              ><i class="fab fa-github"></i
            ></a>
          </section>
          <!-- Section: Social media -->
        </div>
        <!-- Grid container -->
      
        <!-- Copyright -->
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
          © 2021 Copyright:
          <a class="text-white" href="index.html">www.unclestaxi.com</a>
        </div>
        <!-- Copyright -->
      </footer>

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>

    <!-- Creacion de Mapa -->
    <script>
      var mymap = L.map('mapid').setView([10.9878, -74.7889], 13); //Se configura un zoom de 13
      L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={accessToken}', {
      attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
      maxZoom: 18,
      id: 'mapbox/streets-v11',
      tileSize: 512,
      zoomOffset: -1,
      accessToken: 'pk.eyJ1Ijoic3RlZmYxNiIsImEiOiJja3RjNzJmamsyM2NqMnBwazFleXJveXRmIn0.WX6x2YRLtRxdp4RealPs5w'
      }).addTo(mymap);
    </script>
    
    <!-- SE OBTIENE ARRAY DEL BACKEND-->
    <% if (latlon.length>1) { %>
      <script> var resultdb = <%- JSON.stringify(latlon) %>; </script>
    <% }else{ %>
      <script> var resultdb = Array(0); </script>
    <% } %>  

    <% if (latlon2.length>1) { %>
      <script> var resultdb2 = <%- JSON.stringify(latlon2) %>; </script>
    <% }else{ %>
      <script> var resultdb2 = Array(0); </script>
    <% } %>  

    <script src="/js/record.js"></script>
    <script src="/js/calendars.js"></script>
    <script src="/js/check.js"></script>
  </body>
</html>