<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    
    <!-- Hoja de estilos CSS -->
    <link rel="stylesheet" href="/css/style.css">

    <!-- Fuentes -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Varela+Round&display=swap" rel="stylesheet">   

    <!-- Iconos -->
    <script src="https://kit.fontawesome.com/eb10b21232.js" crossorigin="anonymous"></script>

    <title>Tio Taxi</title>

  </head>
  <body>
      <!-- NAVBAR -->
    <nav class="navbar navbar-expand-lg navbar-light bg-yellow">
        <div class="container-fluid">
          <!-- Logo -->
          <a class="navbar-brand ms-5" href="/">Uncle's Taxi</a>
          <!-- Boton Toggler -->
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <!-- Lista de elementos -->
          <div class="collapse navbar-collapse me-5" id="navbarNav">
            <ul class="navbar-nav ms-auto">
              <li class="nav-item me-3">
                <a class="nav-link active" aria-current="page" href="/monitorear/tiemporeal">Tiempo real</a>
              </li>
              <li class="nav-item me-3">
                <a class="nav-link active" aria-current="page" href="/monitorear/consultas">Consultas</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <!-- Cuerpo -->
      <article>
            <h1 class="text-center m-0 my-4 m-md-0 fs-1">Bienvenido</h1>
            <div class="container d-flex mt-4 mt-md-0">
              <img class="m-auto col-12 col-sm-10 col-md-5 mt-4 mt-md-0" src="undraw_city_driver_re_0x5e.svg" alt="Taxi">
            </div>
            <p class="text-center fs-3 mt-4 mt-sm-4 mt-md-0 mx-4 mx-md-0 pt-4 pt-sm-4 pt-md-0">"Uncle´s Taxi, su comodidad es nuestro compromiso"</p>
      </article>
      <footer class="bg-dark text-center text-white fixed-bottom">
        <!-- Grid container -->
        <div class="container p-2">
          <!-- Section: Social media -->
          <section>
            <!-- Facebook -->
            <a class="btn btnred btn-outline-light btn-floating m-1" href="#!" role="button"
              ><i class="fab fa-facebook-f"></i
            ></a>
      
            <!-- Google -->
            <a class="btn btnred btn-outline-light btn-floating m-1" href="#!" role="button"
              ><i class="fab fa-google"></i
            ></a>
      
            <!-- Instagram -->
            <a class="btn btnred btn-outline-light btn-floating m-1" href="#!" role="button"
              ><i class="fab fa-instagram"></i
            ></a>
      
            <!-- Github -->
            <a class="btn btnred btn-outline-light btn-floating m-1" href="#!" role="button"
              ><i class="fab fa-github"></i
            ></a>
          </section>
          <!-- Section: Social media -->
        </div>
        <!-- Grid container -->
      
        <!-- Copyright -->
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
          © 2020 Copyright:
          <a class="text-white" href="index.html">www.unclestaxi.com</a>
        </div>
        <!-- Copyright -->
      </footer>

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
  </body>
</html>