* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Varela Round', sans-serif;
}
body {
    background-color: rgb(248, 248, 248);
    margin-bottom: 108px;
}
.navbar {
    -webkit-box-shadow: 2px -9px 20px 7px #000000; 
    box-shadow: 2px -9px 20px 7px #000000;
}
.bg-yellow {
    background-color: #F4FF63;
}
.bg-graylight {
    background-color: #f1f1f1;
}
.full {
    height:400px;
}
.btnred {
    border-radius: 50%;
}
.mapa {
    width: 95%;
    height: 85%;
}
.footer {
    position: absolute;
    bottom: 100%;
}
@media (min-width: 768px) { 
    .full {
        height: calc(100vh - 164px);
    }
    .titlep {
        font-size: 10px;
    }
}